@model IList<Recipe>

<h1>All Recipes</h1>

@foreach(var recipe in Model)
{
	<div>
		<p>@Html.DisplayFor(modelItem => recipe.Title)</p>
		<img src="@Url.Content(recipe.ImageUrl)" alt="Image" style="width:250px;height:250px" />
		<a asp-action="Details" asp-route-id="@recipe.Id">
			<button class="btn btn-primary">Details</button>
		</a>
		<a asp-action="Edit" asp-route-id="@recipe.Id">
			<button class="btn btn-success">Edit</button>
		</a>
		<a asp-action="Delete" asp-route-id="@recipe.Id">
			<button class="btn btn-danger">Delete</button>
		</a>
	</div>
}